#Build files
.cmake
.cache
CMakeCache.txt
CMakeFiles
cmake_install.cmake
compile_commands.json
.dir-locals.el
Makefile
urchin-server
urchin-client
lib*.a
lib*.so

#Generated code
src/protobuf_gen
urchin-util/src/protobuf_gen
